@import '_variables';
.paginas-internas-events .bienvenidos{
	background:url("../img/camex_portada_eventos.jpg") no-repeat center top;
	color: $tercero;
	background-size: cover;
	height: 60%;
}
.paginas-internas-events .ruta{
	background: $noveno;
	color: $septimo;
	padding: .8rem 0;
}
.titulo-banner-principal{
	padding-top: 8.5rem;
	font-size: 3.5rem;
	font-family: 'Myriad';
	color:$decimo;
}

.paginas-internas-events .bienvenidos .texto-encabezado p{
	padding-top: 1rem;
	padding-bottom:10rem;
	font-family: $roboto-light;
	font-size:1.2rem;
	color:$decimo;
}

.paginas-internas-events .contenedor-events  {
  padding: 3rem 0; }

.indices a{
	color: $septimo;
	text-decoration: underline;
}
.paginas-internas-events a:hover{
	color: $septimo;
	text-decoration: none;
}
.contenido-evento{
	background-color:$decimo;
	padding: 1rem 0;
	margin: 1rem 0;
}
.lista-eventos{
	color: $cuarto;
}
.fecha-evento{
	margin-bottom: 1rem;
	color:$cuarto;
}
a.btn.btn-danger {
  text-decoration: none;
  margin-bottom:5rem;
  }

.btn-outline-danger {
  color: $noveno;
  background-color: transparent;
  border-color:$noveno;
  border-radius:0px;  
		border-width:.1rem; 
		width:147px;}

.btn-outline-danger:hover, .btn-outline-secondary:focus, .btn-outline-secondary.focus, .btn-outline-secondary:active, .btn-outline-secondary.active, .show > .btn-outline-secondary.dropdown-toggle {
   text-decoration: none;
  color: $octavo;
  background-color: $noveno;
  border-color: $noveno; }
  hr.linea-fecha-evento{
  	background-color: $noveno;
  	height:.1rem;
  }
.fecha-evento,
.imagen-evento,
.letras-eventos,
.primerbtn,
.segundobtn{
	margin-bottom:1rem;
}
 
