@import url(../css/fontawesome-all.min.css);
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Black.ttf), url(../fonts/Roboto-Bold.ttf), url(../fonts/Roboto-Medium.ttf), url(../fonts/Roboto-Regular.ttf), url(../fonts/Roboto-Light.ttf), url(../fonts/Roboto-Thin.ttf); }

@font-face {
  font-family: 'JosefinSans-SemiBold';
  src: url(../fonts/JosefinSans-SemiBold.ttf); }

@font-face {
  font-family: 'SegoeUI';
  src: url(../fonts/SegoeUI.ttf); }

@font-face {
  font-family: "Myriad";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Myriad-Pro_31655.ttf); }

@font-face {
  font-family: "SegoeUI";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/SegoeUI.ttf); }

body {
  background-color: #EAEAEA;
  overflow-x: hidden;
  color: #424242; }

hr.linea-seccion {
  background-color: #DD4E4A;
  height: 3px;
  margin-bottom: 2rem; }

span.black {
  font-family: "JosefinSans-SemiBold", serif;
  font-size: 1.8rem; }

span.thin {
  font-family: "Roboto Light", serif;
  font-size: 1.8rem; }

h1 span .thin, h2 span .thin, h3 span .thin, h4 span .thin, h5 span .thin {
  font-family: "Roboto Thin", serif; }

hr.linea-rse {
  background-color: #56A200;
  height: 3px; }

hr.linea-exp {
  background-color: #F0993F;
  height: 3px; }

hr.linea-emp {
  background-color: #DD4E4A;
  height: 3px; }

.seccion-publicidad {
  background-color: #FFFFFF; }

.seccion-revista {
  background-color: #FFFFFF; }

.margen {
  padding-top: 30px; }

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  margin: 0px 0px; }

.container-fluid .col-md-3 {
  background-color: #F6F6F6;
  margin-bottom: 15px;
  -webkit-box-shadow: -25px 0px 0px 0px #FFFFFF inset;
  box-shadow: -25px 0px 0px 0px #FFFFFF inset;
  padding-left: 1px;
  margin-left: 15px; }

.container-fluid .col-md-6 {
  background-color: #F6F6F6;
  margin-bottom: 15px;
  -webkit-box-shadow: -25px 0px 0px 0px #FFFFFF inset;
  box-shadow: -25px 0px 0px 0px #FFFFFF inset;
  padding-left: 1px;
  margin-left: 15px; }

.contenido-articulo-principal {
  padding: 15px; }

.contenido-articulo-principal p {
  padding: 0px;
  font-family: "Caviar Dreams", serif; }

.articulo-secundario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.contenido-articulo-secundario {
  padding: 15px;
  -ms-flex-item-align: strech;
  align-self: strech; }

.contenido-articulo-secundario p {
  padding: 0px;
  font-family: "Caviar Dreams", serif; }

.articulo-principal img {
  width: 98%;
  height: 250px;
  border-top: 3px solid #56A200;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 2px; }

.articulo-secundario img {
  width: 97%;
  height: 110px;
  border-top: 3px solid #56A200;
  padding: 0px 2px; }

.bienvenidos {
  color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.encabezado {
  background: #272D39;
  color: #E0E0E0;
  padding: .5rem 0; }

.encabezado .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.encabezado .logo img {
  width: 100px;
  height: auto; }

/*Estilos para el boton:menu*/
.boton-menu {
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0 .5rem;
  background: transparent;
  color: #FAFAFA;
  margin-left: auto; }

.boton-menu:focus {
  outline: 0; }

.boton-menu:hover {
  color: #DD4E4A;
  border: 1px solid #FAFAFA;
  border-radius: 5px; }

/* Menu principal */
#menu-principal {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%; }

#menu-principal ul {
  padding: 0;
  margin: 1rem 0 0 0;
  list-style: none; }

#menu-principal a {
  display: block;
  padding: .8rem 0;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #FAFAFA;
  border-top: 1px solid #E0E0E0; }

#menu-principal a:hover,
#menu-principal ul li.active a {
  color: #DD4E4A; }

.portadas .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: .1rem 0; }

.portadas .owl-prev,
.portadas .owl-next {
  font-size: 2.5rem;
  margin: 0 .5rem;
  color: #272D39;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.portadas .owl-prev:hover,
.portadas .owl-next:hover {
  color: #DD4E4A; }

.owl-carousel .owl-item img {
  width: 270px;
  height: 330px; }

.footer {
  background: #272D39;
  color: #FAFAFA;
  padding-bottom: 5rem;
  padding-top: 3rem; }

.clase-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.clase-social i {
  text-decoration: none;
  color: #FAFAFA;
  padding-bottom: 3rem; }

.clase-social ul {
  list-style: none;
  text-align: center; }

.clase-social p {
  font-size: .7rem; }

.clase-social .a {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%; }

.clase-social .z {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%; }

p .copyrigth {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%; }

@media (min-width: 440px) {
  .articulo-secundario {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .articulo-secundario img {
    width: 200px;
    height: 200px;
    border-top: 3px solid #56A200; }
  .articulo-principal img {
    width: 98%;
    height: 350px; } }

@media (min-width: 720px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    margin: 0px 15px; }
  .articulo-secundario {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: none;
    flex-wrap: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 0; }
  .articulo-principal img {
    width: 100%;
    height: 250px; }
  .articulo-secundario img {
    width: 300px;
    height: 120px; }
  .container-fluid .col-md-3 {
    -webkit-box-shadow: 0 0 0 15px #FFFFFF inset;
    box-shadow: 0 0 0 15px #FFFFFF inset;
    background-color: #F6F6F6;
    padding-left: 15px;
    margin-left: 0px; }
  .container-fluid .col-md-6 {
    -webkit-box-shadow: 0 0 0 15px #FFFFFF inset;
    box-shadow: 0 0 0 15px #FFFFFF inset;
    background-color: #F6F6F6;
    margin-bottom: 15px;
    padding-left: 15px;
    margin-left: 0px; } }

@media (min-width: 768px) {
  .bienvenidos {
    color: #FAFAFA;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  #menu-principal {
    height: auto !important;
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-left: auto;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-rigth: 0px; }
  #menu-principal ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 0; }
  #menu-principal ul li a {
    padding: .8rem;
    text-transform: capitalize;
    margin: 0 .3rem;
    border-top: 0px;
    border-bottom: 4px solid transparent;
    font-size: .9rem; }
  #menu-principal ul li.active a,
  #menu-principal ul li a:hover {
    color: #DD4E4A;
    border-bottom: 4px solid; } }

@media (min-width: 992px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    margin: 0px 20px; }
  .articulo-secundario img {
    width: 300px;
    height: 200px; } }

@media (min-width: 1200px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    margin: 0px 20px; } }

@media (min-width: 1350px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    margin: 0px 150px; } }
