@import '_variables';
//-------------Estilos pagina nosotros--------------//
.paginas-internas .bienvenidos{
	background:url("../img/camex_portada_nosotros.jpg") no-repeat center top;
	color: $tercero;
	background-size: cover;
	height: 60%;
}
.paginas-internas .ruta{
	background: $noveno;
	color: $septimo;
	padding: .8rem 0;
}
.titulo-banner-principal{
	padding-top: 8.5rem;
	font-family: $roboto-medium;
	color:$decimo;
}
.paginas-internas .bienvenidos .texto-encabezado p{
	padding-top: 1rem;
	padding-bottom:10rem;
	font-family: $roboto-light;
	font-size:1.2rem;
	color:$decimo;
}
.paginas-internas .contenedor-acordeon{
	background:$octavo;
}
.paginas-internas a{
	color: $septimo;
	text-decoration: underline;
}
.paginas-internas a:hover{
	color: $septimo;
	text-decoration: none;
}
.paginas-internas .contenedor-acordeon{
	padding: 3rem 0;
}
.paginas-internas .panel .panel-heading{
	font-size: 1.2rem;
}
.paginas-internas h5{
	background: $noveno;
	border-radius: 5px;

}

.paginas-internas .card-header a{
	display:block;
	padding:.3rem;
	text-decoration: none;
}
.paginas-internas .contenedor-acordeon p{
	color: $cuarto;
}
.paginas-internas .contenedor-acordeon  aside img{
	padding-top: 5rem;
	
}
.col-center{
    float: none;
    margin: 0 auto;
}

@media (min-width: 1200px){
	.titulo-banner-principal{
	padding-top: 12rem;
	}
}